# -FrontPage-

Options None

<Limit GET POST>
order deny,allow
deny from all
allow from all
require group administrators
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthType Basic
AuthName thpthoaiduca.edu.vn
AuthUserFile /home/thpthoai/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/thpthoai/public_html/_vti_pvt/service.grp
